### Question 1
Question:
Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line.

In [1]:
s = []
for i in range(2000,3201):
    if i%7==0 and i%5!=0:
        s.append(str(i)) 
print(','.join(s))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

### Question 2
Level 1

Question:
Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:
8
Then, the output should be:

40320

In [77]:
inp = int(input('Enter Your Number: '))
l = []
fact = 1
if inp < 0 :
    print('Factorial is not exist for negative number')
elif inp == 0:
    print('factorial of 0 is 1')
else:
    for i in range(1,inp+1):
        fact = fact*i
        l.append(str(fact))
    print(','.join(l))
    print(f'factorial of {inp} is {fact}')

Enter Your Number: 8
1,2,6,24,120,720,5040,40320
factorial of 8 is 40320

### Question 3
Level 1

Question:
With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [76]:
num =int(input())
d = dict()

for i in range(1,num+1):
    d[i]= i*i
print(d)

5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### Question 4
Level 1

Question:
Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Suppose the following input is supplied to the program:
34,67,55,33,12,98
Then, the output should be:
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

In [21]:
nums = (input('Enter numbers').split(','))

print(list(nums))
print(tuple(nums))

Enter numbers5,44,32,34,564,234
['5', '44', '32', '34', '564', '234']
('5', '44', '32', '34', '564', '234')

### Question 5
Level 1

Question:
Define a class which has at least two methods:
getString: to get a string from console input
printString: to print the string in upper case.
Also please include simple test function to test the class methods.

In [ ]:
class Input_String():
    def __init__(self):
        self.s = ' '
    def getString(self):
        self.s = input()
    def printString(self):
        print(self.s.upper())

In [25]:
strObj = Input_String()
strObj.getString()
strObj.printString()

i am data scientist
I AM DATA SCIENTIST

### Question 6
Level 2

Question:
Write a program that calculates and prints the value according to the given formula:
Q = Square root of [(2 * C * D)/H]
Following are the fixed values of C and H:
C is 50. H is 30.
D is the variable whose values should be input to your program in a comma-separated sequence.
Example
Let us assume the following comma separated input sequence is given to the program:
100,150,180
The output of the program should be:
18,22,24

In [29]:
import math

c = 50
h = 30
value = []
items = [i for i in input().split(',')]

for j in items:
    value.append(str(int(round(math.sqrt(2*c*float(j)/h)))))
print(','.join(value))

100,150,180
18,22,24


### Question 7
Level 2

Question:
Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.
Note: i=0,1.., X-1; j=0,1,¡­Y-1.
Example
Suppose the following inputs are given to the program:
3,5
Then, the output of the program should be:
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [3]:
inp_str = input()
diam = [int(i) for i in inp_str.split(',') ]

row= diam[0]
column=diam[1]

mul_list=[[0 for col in range(column)] for row in range(row)]

for r in range(row):
    for col in range(column):
        mul_list[r][col]=r*col
print(mul_list)

3,5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

### Question 8
Level 2

Question:
Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.
Suppose the following input is supplied to the program:
without,hello,bag,world
Then, the output should be:
bag,hello,without,world

In [10]:
items = [i for i in input().split(',')]
items.sort()
print(','.join(items))

without,hello,bag,world
bag,hello,without,world

### Question 9
Level 2

Question£º
Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized.
Suppose the following input is supplied to the program:
Hello world
Practice makes perfect
Then, the output should be:
HELLO WORLD
PRACTICE MAKES PERFECT

In [12]:
item=[i.capitalize() for i in input()]
print(''.join(item))

Hello world Practice makes perfect
HELLO WORLD PRACTICE MAKES PERFECT

In [19]:
lines = []
s = input()
if s:
    lines.append(s.upper())
print(''.join(lines))

Hello world Practice makes perfect
HELLO WORLD PRACTICE MAKES PERFECT

### Question 10
Level 2

Question:
Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.
Suppose the following input is supplied to the program:
hello world and practice makes perfect and hello world again
Then, the output should be:
again and hello makes perfect practice world

In [24]:
sentences = input()

words = [i for i in sentences.split(' ')]

print(' '.join(sorted(list(set(words)))))

hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

In [ ]:
### Question 11
Level 2

Question:
Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.
Example:
0100,0011,1010,1001
Then the output should be:
1010
Notes: Assume the data is input by console.

In [39]:
num =[]
divisible =[]
input_nums= [num.append(int(i)) for i in (input('Enter 4 digit binarny number: ').split(','))]

for j in num:
    if j%5==0:
        divisible.append(j)
print('Input Binary Numbers',num)
print('The binary number which is divisible by 5 are',divisible)

Enter 4 digit binarny number: 0100,0011,1010,1001
Input Binary Numbers [100, 11, 1010, 1001]
The binary number which is divisible by 5 are [100, 1010]

In [35]:
value=[]
items = [x for x in input().split(',')]
for p in items:
    intp =int(p,2)
    if not intp%5:
        value.append(p)
print(','.join(value))

0100,0011,1010,1001
1010

### Question 12
Level 2

Question:
Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number.
The numbers obtained should be printed in a comma-separated sequence on a single line.

In [42]:
nums_div_by_2 = []

for i in range(1000, 3001):
    s = str(i)
    if (int(s[0])%2==0) and (int(s[1])%2==0) and (int(s[2])%2==0) and (int(s[3])%2==0):
        nums_div_by_2.append(s)
print(','.join(nums_div_by_2))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

### Question 13
Level 2

Question:
Write a program that accepts a sentence and calculate the number of letters and digits.
Suppose the following input is supplied to the program:
hello world! 123
Then, the output should be:
LETTERS 10
DIGITS 3

In [59]:
d = {'Letter':0, 'Digits':0}
st = input()

for i in st:
    if i.isdigit():
        d['Digits']+=1
    elif i.isalpha():
        d['Letter']+=1
    else:
        pass
print('Letters',d['Letter'])
print('Digit',d['Digits'])

Letters 10 Digit 3
Letters 12
Digit 3

In [ ]:
Question:
Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters.
Suppose the following input is supplied to the program:
Hello world!
Then, the output should be:
UPPER CASE 1
LOWER CASE 9

In [57]:
d ={'Upper Case':0, 'Lower Case':0}
inp = input()

for i in inp:
    if i.isupper():
        d['Upper Case']+=1
    elif i.islower():
        d['Lower Case']+=1
    else:
        pass
print('UPPER',d['Upper Case'])
print('LOWER',d['Lower Case'])

Hello world!
UPPER 1
LOWER 9

In [ ]:
### Question 15
Level 2

Question:
Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a.
Suppose the following input is supplied to the program:
9
Then, the output should be:
11106

In [72]:
def sumall(num):
    n1 = num
    n2 = num*num
    n3 = num*num*num
    n4 = num*num*num*num
    
    suma = n1+n2+n3+n4
    
    return suma

In [73]:
sumall(9)

7380

In [69]:
a = input()
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
n4 = int( "%s%s%s%s" % (a,a,a,a) )
print(n1+n2+n3+n4)

9
11106

In [ ]:
### Question 16
Level 2

Question:
Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers.
Suppose the following input is supplied to the program:
1,2,3,4,5,6,7,8,9
Then, the output should be:
1,3,5,7,9

In [2]:
num=[]

input_nums= [num.append(int(i)) for i in (input('Enter number: ').split(','))]

a = [i**2 for i in num if i%2!=0 ]
print(a)

Enter number: 1,2,3,4,5,6,7,8,9
[1, 9, 25, 49, 81]

In [ ]:
### Question 17
Level 2

Question:
Write a program that computes the net amount of a bank account based a transaction log from console input. The transaction log format is shown as following:
D 100
W 200

D means deposit while W means withdrawal.
Suppose the following input is supplied to the program:
D 300
D 300
W 200
D 100
Then, the output should be:
500

In [12]:
netAmt = 0
while True:
    s= input()
    if not s:
        break
    values = s.split(' ')

    operation = values[0]
    amount = int(values[1])

    if operation=='D':
        netAmt+=amount
    elif operation=='W':
        netAmt-=amount
    else:
        pass
print(netAmt)

D 200
W 100

100

### Question 18
Level 3

Question:
A website requires the users to input username and password to register. Write a program to check the validity of password input by users.
Following are the criteria for checking the password:
1. At least 1 letter between [a-z]
2. At least 1 number between [0-9]
1. At least 1 letter between [A-Z]
3. At least 1 character from [$#@]
4. Minimum length of transaction password: 6
5. Maximum length of transaction password: 12
Your program should accept a sequence of comma separated passwords and will check them according to the above criteria. Passwords that match the criteria are to be printed, each separated by a comma.
Example
If the following passwords are given as input to the program:
ABd1234@1,a F1#,2w3E*,2We3345
Then, the output of the program should be:
ABd1234@1

In [17]:
import re

values = []
items= [x for x in input().split(',')]

for i in items:
    if len(i)<6 or len(i)>12:
        continue
    else:
        pass
    if not re.search('[a-z]',i):
        continue
    elif not re.search('[0-9]',i):
        continue
    elif not re.search('[A-Z]',i):
        continue
    elif not re.search('[!@#&]',i):
        continue
    elif re.search('\s',i):
        continue
    else:
        pass
    values.append(i)
print(','.join(values))

Dsk@132445, afhjdfkh322@,aohuadhi,adkjfa
Dsk@132445

### Question 19
Level 3

Question:
You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is:
1: Sort based on name;
2: Then sort based on age;
3: Then sort by score.
The priority is that name > age > score.
If the following tuples are given as input to the program:
Tom,19,80
John,20,90
Jony,17,91
Jony,17,93
Json,21,85
Then, the output of the program should be:
[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

In [31]:
tu = [('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]
a = sorted(tu,key=lambda x:x[0])
a

[('John', '20', '90'),
 ('Jony', '17', '91'),
 ('Jony', '17', '93'),
 ('Json', '21', '85'),
 ('Tom', '19', '80')]

### Question 20
Level 3

Question:
Define a class with a generator which can iterate the numbers, which are divisible by 7, between a given range 0 and n.

In [37]:
def gen(num):
    for i in num:
        if i%7==0:
            yield i

### Question 21
Level 3

Question
A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps. The trace of robot movement is shown as the following:
UP 5
DOWN 3
LEFT 3
RIGHT 2
¡­
The numbers after the direction are steps. Please write a program to compute the distance from current position after a sequence of movement and original point. If the distance is a float, then just print the nearest integer.
Example:
If the following tuples are given as input to the program:
UP 5
DOWN 3
LEFT 3
RIGHT 2
Then, the output of the program should be:
2

In [41]:
import math

pos=[0,0]

while True:
    s = input()
    if not s:
        break
    movement = s.split(' ')
    direction = movement[0]
    steps = int(movement[1])
    if direction == 'UP':
        pos[0]+=steps
    elif direction == 'DOWN':
        pos[0]-=steps
    elif direction == 'LEFT':
        pos[1]-=steps
    elif direction =='RIGHT':
        pos[1]+=steps
    else:
        pass
print(int(round(math.sqrt(pos[1]**2+pos[0]**2))))

UP 5
DOWN 3
LEFT 3
RIGHT 2

2

### Question 22
Level 3

Question:
Write a program to compute the frequency of the words from the input. The output should output after sorting the key alphanumerically. 
Suppose the following input is supplied to the program:
New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3.
Then, the output should be:
2:2
3.:1
3?:1
New:1
Python:5
Read:1
and:1
between:1
choosing:1
or:2
to:1

In [53]:
frq ={}
sentence = 'New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3.'

for word in sentence.split():
    if word in frq:
        frq[word]+=1
    else:
        frq[word]=1
print(sorted(frq))

['2', '3.', '3?', 'New', 'Python', 'Read', 'and', 'between', 'choosing', 'or', 'to']

{'New': 1,
 'to': 1,
 'Python': 5,
 'or': 2,
 'choosing': 1,
 'between': 1,
 '2': 2,
 'and': 1,
 '3?': 1,
 'Read': 1,
 '3.': 1}

### Question 23
level 1

Question:
Write a method which can calculate square value of number

In [54]:
def square(num):
       '''Return the square value of the input number.
    
    The input number must be integer'''
    return num**2

In [55]:
square(4)

16

In [ ]:
### Question 24
Level 1

Question:

Python has many built-in functions, and if you do not know how to use it, you can read document online or find some books. But Python has a built-in document function for every built-in functions.

Please write a program to print some Python built-in functions documents, such as abs(), int(), raw_input()

In [60]:
print(abs.__doc__)
print(int.__doc__)
print(input.__doc__)

Return the absolute value of the argument.
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4
Forward raw_input to frontends

        Raises
        ------
        StdinNotImplementedError if active frontend doesn't support stdin.

In [63]:
def square(num):
    '''Return the square value of the input number.
    The input number must be integer'''
    
    return num**2

In [65]:
print(square.__doc__)

Return the square value of the input number.
    The input number must be integer

### Question 25
Level 1

Question:
Define a class, which have a class parameter and have a same instance parameter.

In [66]:
class Person:
    name = 'Person'
    
    def __init__(self, name=None):
        self.name = name

In [71]:
Nico = Person()
Nico.name='Nico'

### Question 26:
Define a function which can compute the sum of two numbers.

In [73]:
def sumall(num1,num2):
    sumall = num1 +num2
    return sumall

In [74]:
sumall(2,3)

5

### Question 27
Define a function that can convert a integer into a string and print it in console.

In [75]:
def int_string(a):
    return str(a)

In [76]:
int_string(3424)

'3424'

### Question 28
Define a function that can convert a integer into a string and print it in console.

In [77]:
int_string(3424)

'3424'

### Question 29
Define a function that can receive two integral numbers in string form and compute their sum and then print it in console.

In [78]:
def sum_int(n1,n2):
    return (int(n1)+int(n2))

In [80]:
sum_int('2','3')

5

### Question 30
Define a function that can accept two strings as input and concatenate them and then print it in console.

In [84]:
def concat_str(s1,s2):
    return s1 + s2

In [85]:
concat_str('My name','Is swapnil')

'My nameIs swapnil'


### Question 31
Define a function that can accept two strings as input and print the string with maximum length in console. If two strings have the same length, then the function should print al l strings line by line.

In [94]:
def len_sen(s1,s2):
    len1 = len(s1)
    len2 = len(s2)
    if len1> len2:
        return s1
    elif len1<len2:
        return s2
    else:
        return s1
        return s2

In [98]:
len_sen('one','three')

'three'

### Question 32
Define a function that can accept an integer number as input and print the "It is an even number" if the number is even, otherwise print "It is an odd number".

In [103]:
def return_odd_even(n):
    if int(n)%2==0:
        return 'Even Number'
    else:
        return 'Odd number'

In [105]:
return_odd_even(3)

'Odd number'

In [104]:
return_odd_even(2)

'Even Number'

### Question 33
Define a function which can print a dictionary where the keys are numbers between 1 and 3 (both included) and the values are square of keys.

In [110]:
def sq_dic(n):
    d = dict()
    for i in range(1,n+1):
        d[i]=i*i
    return d

In [111]:
sq_dic(3)

{1: 1, 2: 4, 3: 9}

### Question 34
Define a function which can print a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys.

In [129]:
def square_dic_key(n):
    d = dict()
    for i in range(1,n+1):
        d[i]= i*i
    print(d)

In [130]:
square_dic_key(20)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

### Question 35
Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the values only.

In [127]:
def square_dic_key_values(n):
    d = dict()
    for i in range(1,n+1):
        d[i]= i*i
    for (k,v) in d.items():
        print(v)

In [128]:
square_dic_key_values(20)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

### Question 36
Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the keys only.

In [135]:
def square_dic_Onlykey(n):
    d = dict()
    for i in range(1,n+1):
        d[i]=i*i
    for (k,v) in d.items():
        print(k)

In [136]:
square_dic_Onlykey(20)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

### Question 37
Define a function which can generate and print a list where the values are square of numbers between 1 and 20 (both included).

In [137]:
def sq_list(n):
    a = [i**2 for i in range(1,n+1)]
    print(a)

In [138]:
sq_list(20)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

### Question 38
Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print the first 5 elements in the list.

In [139]:
def sq_list_first_5(n):
    a = [i**2 for i in range(1,n+1)]
    print(a[:5])

In [140]:
sq_list_first_5(20)

[1, 4, 9, 16, 25]

### Question 39
Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print the last 5 elements in the list.

In [143]:
def sq_list_last_5(n):
    a = [i**2 for i in range(1,n+1)]
    print(a[-5:])

In [144]:
sq_list_last_5(20)

[256, 289, 324, 361, 400]

### Question 40
Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print all values except the first 5 elements in the list.

In [146]:
def sq_list_first_last_5_ex(n):
    a = [i**2 for i in range(1,n+1)]
    print(a[5:-5])

In [147]:
sq_list_first_last_5_ex(20)

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

### Question 41
Define a function which can generate and print a tuple where the value are square of numbers between 1 and 20 (both included).

In [152]:
def tup(n):
    t = []
    for i in range(1,n+1):
        t.append(i)
    print(tuple(t))

In [153]:
tup(20)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

### Question 42
With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [1]:
tu = (1,2,3,4,5,6,7,8,9,10)
print(tu[:5])
print(tu[-5:])

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

### Question 43
Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10).

In [5]:
tu = (1,2,3,4,5,6,7,8,9,10)
u=[]
for i in tu:
    if i%2==0:
        u.append(i)
print(tuple(u))

(2, 4, 6, 8, 10)

### Question 44
Write a program which accepts a string as input to print "Yes" if the string is "yes" or "YES" or "Yes", otherwise print "No".

In [7]:
def Y_N(st):
    if st == 'yes' or st== 'Yes' or st=='YES':
        print('Yes')
    else:
        print('No')

In [8]:
Y_N('sdkfh')

No

In [9]:
Y_N('yes')

Yes

In [10]:
st = input("Enter Yes/No: ")
if st == 'yes' or st== 'Yes' or st=='YES':
    print('Yes')
else:
     print('No')

Enter Yes/No: yes
Yes

### Question 45
Write a program which can filter even numbers in a list by using filter function. The list is: [1,2,3,4,5,6,7,8,9,10].

In [14]:
l = [1,2,3,4,5,6,7,8,9,10]
a = list(filter(lambda x: x%2==0, l))
print(a)

[2, 4, 6, 8, 10]

### Question 46
Write a program which can map() to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10].

In [15]:
l = [1,2,3,4,5,6,7,8,9,10]
a = list(map(lambda x: x**2,l))
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Question 47
Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].

In [18]:
l = [1,2,3,4,5,6,7,8,9,10]
a = list(filter(lambda x: x%2==0, l))
b = list(map(lambda x:x**2 , a))
print(a)
print(b)

[2, 4, 6, 8, 10]
[4, 16, 36, 64, 100]

In [21]:
l = [1,2,3,4,5,6,7,8,9,10]
b = list(map(lambda x: x**2, filter(lambda x:x%2==0, l)))
print(b)

[4, 16, 36, 64, 100]

### Question 48
Write a program which can filter() to make a list whose elements are even number between 1 and 20 (both included).

In [23]:
l = list(range(1,21))
b = list(filter(lambda x: x%2==0, l))
print(b)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Question 49
Write a program which can map() to make a list whose elements are square of numbers between 1 and 20 (both included).

In [24]:
l = list(range(1,21))
b = list(map(lambda x:x**2, filter(lambda x:x%2==0, l)))
print(b)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

### Question 50
Define a class named American which has a static method called printNationality.

In [27]:
class America():
    @staticmethod
    def printNationality():
        print('America')

In [29]:
anAmerican = America()

In [34]:
anAmerican.printNationality()

America

In [32]:
America.printNationality()

America

### Question 51
Define a class named American and its subclass NewYorker.

In [2]:
class American():
    pass
class NewYorker():
    pass

In [4]:
anAmerican = American()
print(anAmerican)

<__main__.American object at 0x0000020840893550>

In [5]:
aNewYorker = NewYorker()
print(aNewYorker)

<__main__.NewYorker object at 0x000002083F585130>

### Question 52
Define a class named Circle which can be constructed by a radius. The Circle class has a method which can compute the area.

In [6]:
class Circle(object):
    def __init__(self, r):
        self.radious=r
    def area(self):
        return self.radious*2*3.14

In [9]:
aCircle = Circle(2)
print(aCircle.area())

12.56

### Question 53
Define a class named Rectangle which can be constructed by a length and width. The Rectangle class has a method which can compute the area.

In [16]:
class Rectangle(object):
    def __init__(self, l,w):
        self.width=w
        self.length=l
    def area(self):
        return self.length*self.width

In [19]:
a = Rectangle(2,4)
print(a.area())

8

### Question 54
Define a class named Shape and its subclass Square. The Square class has an init function which takes a length as argument. Both classes have a area function which can print the area of the shape where Shape's area is 0 by default.

In [21]:
class Shape(object):
    def __init__(self):
        pass
    def area(self):
        return 0
class square(object):
    def __init__(self, l):
        self.length = l
    def area(self):
        return self.length*self.length

In [23]:
a = square(2)
print(a.area())

4

### Question 55
Please raise a RuntimeError exception.

In [24]:
raise RuntimeError('something wrong')

RuntimeError: something wrong

### Question 56
Write a function to compute 5/0 and use try/except to catch the exceptions.

In [27]:
def throw():
    return 5/0
try:
    throw()
except ZeroDivisionError:
    print('divission by zero')
except Exception:
    print('caught an exception')
finally:
    print('in finally block for cleanup')

divission by zero
in finally block for cleanup

### Question 57
Define a custom exception class which takes a string message as attribute.

In [45]:
class MyError(Exception):
    """My own exception class

    Attributes:
        msg  -- explanation of the error
    """
    
    def __init__(self, msg):
            self.message=msg

In [47]:
error = MyError('Something is wrong')

### Question 58
Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the user name of a given email address. Both user names and company names are composed of letters only.

In [50]:
import re

input_mail = input()

pattern = '(\w+)@((\w+\.)+(com))'
b= re.match(pattern,input_mail)
print(b.group(1),b.group(2))

swapnil@capsilon.com
swapnil capsilon.com

### Question 59
Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only

In [53]:
import re 
i = input()
pattern= '(\w+)@((\w+\.)+(com))'
b = re.match(pattern, i)
print(b.group(2))

swapnil@capsilon.com
capsilon.com

### Question 60
Write a program which accepts a sequence of words separated by whitespace as input to print the words composed of digits only.

In [5]:
import re
inp = input()
b = re.findall('\d+', inp)
print(b)

2 cats and 3 dogs.
['2', '3']

### Question 61
Print a unicode string "hello world".

In [6]:
uni_code_str = u"hello world"
print(uni_code_str)

hello world

### Question 62
Write a program to read an ASCII string and to convert it to a unicode string encoded by utf-8.

In [11]:
# s = input()
# u = unicode(s, 'utf-8')
# print(u)

### Question 63

Write a special comment to indicate a Python source code file is in unicode.

In [12]:
# -*- coding: utf-8 -*-

#----------------------------------------#

### Question 64

Write a program to compute 1/2+2/3+3/4+...+n/n+1 with a given n input by console (n>0).

In [13]:
n = int(input())
summ = 0.0
for i in range(1,n+1):
    summ+= float(float(i)/(i+1))
print(summ)

5
3.5500000000000003

### Question 65

Write a program to compute:

f(n)=f(n-1)+100 when n>0
and f(0)=1
by using recurrsive function

In [15]:
def f(n):
    if n==0:
        return 0
    else:
        return f(n-1)+100

n=int(input())
print(f(n))

5
500

### Question 66
The Fibonacci Sequence is computed based on the following formula:

f(n)=0 if n=0
f(n)=1 if n=1
f(n)=f(n-1)+f(n-2) if n>1

Please write a program to compute the value of f(n) with a given n input by console.

Example:
If the following n is given as input to the program:

7

Then, the output of the program should be:

13

In [16]:
def f(n):
    if n<0:
        return 0
    elif n==0:
        return 1
    else:
        return f(n-1)+f(n-2)

In [18]:
f(7)

21

### Question 67
The Fibonacci Sequence is computed based on the following formula:

f(n)=0 if n=0
f(n)=1 if n=1
f(n)=f(n-1)+f(n-2) if n>1

Please write a program using list comprehension to print the Fibonacci Sequence in comma separated form with a given n input by console.

Example:
If the following n is given as input to the program:

7

Then, the output of the program should be:

0,1,1,2,3,5,8,13

In [20]:
def ff(n):
    if n<0:
        return 0
    elif n==0:
        return 1
    else:
        return ff(n-1)+ff(n-2)

In [21]:
n = int(input())
values=([str(ff(i)) for i in range(0,n+1)])
print(','.join(values))

7
1,1,2,3,5,8,13,21

### Question 68

Please write a program using generator to print the even numbers between 0 and n in comma separated form while n is input by console.

In [22]:
def even_gen(n):
    if n%2==0:
        yield i
    i+=1

In [25]:
n = int(input())
values = []
for i in even_gen(n):
    values.append(str(i))
print(",".join(values))

7

UnboundLocalError: local variable 'i' referenced before assignment

### Question 69
Please write a program using generator to print the numbers which can be divisible by 5 and 7 between 0 and n in comma separated form while n is input by console.

In [28]:
def divisible_by57(n):
    for i in range(n):
        if i%7==0 and i%5==0:
            yield i

In [31]:
n=int(input())
values = []
for i in divisible_by57(n):
    values.append(str(i))

print(",".join(values))

876
0,35,70,105,140,175,210,245,280,315,350,385,420,455,490,525,560,595,630,665,700,735,770,805,840,875

### Question 70
Please write assert statements to verify that every number in the list [2,4,6,8] is even.

In [32]:
li = [2,4,6,8]
for i in li:
    assert i%2==0

### Question 71
Please write a program which accepts basic mathematic expression from console and print the evaluation result.

In [33]:
def summation(n1,n2):
    return n1+n2

In [34]:
summation(2,3)

5

### Question 72
Please write a binary search function which searches an item in a sorted list. The function should return the index of element to be searched in the list.

In [40]:
import math
def search_list(li,element):
    bottom = 0
    top  = len(li)-1
    index =-1
    
    while top>=bottom and index==-1:
        mid = int(math.floor((top+bottom)/2.0))
        if li[mid] == element:
            index = mid
        elif li[mid]> element:
            top = mid-1
        else:
            bottom = mid+1
    return index

In [41]:
li=[2,5,7,9,11,17,222]
print(search_list(li,11))
print(search_list(li,12))

4
-1

### Question 73
Please write a binary search function which searches an item in a sorted list. The function should return the index of element to be searched in the list.

In [47]:
import math
def list_index_finder(li,element):
    bottom = 0
    top = lrn(li)-1
    index = -1
    while top>=bottom and index==-1:
        mid = int(math.floor(top+bottom)/2.0)
        if li[mid] == element:
            index = mid
        elif li[mid]>=element:
            top = mid-1
        else:
            bottom = mid +1
    return index

In [48]:
li=[2,5,7,9,11,17,222]
print(search_list(li,11))
print(search_list(li,12))

4
-1

### Question 74
Please generate a random float where the value is between 10 and 100 using Python math module/numpy module.

In [49]:
import numpy as np

In [65]:
a = np.random.uniform(10,100)
a

52.561017085470475

In [64]:
import random
print(random.random()*100)

65.237889997882

In [ ]:
### Question 75
Please generate a random float where the value is between 5 and 95 using Python math module/numpy module.

In [67]:
b = np.random.uniform(5,95)
b

83.86246729513276

In [68]:
import math
a = random.random()*100-5
a

32.11969945523613

### Question 76
Please write a program to output a random even number between 0 and 10 inclusive using random module/numpy module and list comprehension.

In [79]:
a = [i for i in range(np.random.randint(0,10)) if i%2==0]
a

[0, 2, 4, 6]

### Question 77
Please write a program to output a random number, which is divisible by 5 and 7, between 0 and 210 inclusive using random module/ numpy module and list comprehension.

In [86]:
a = [i for i in range(np.random.randint(0,210)) if i%5==0 and i%7==0]
a

[0, 35, 70, 105]

### Question 78
Please write a program to generate a list with 5 random numbers between 100 and 200 inclusive.

In [87]:
a = np.random.randint(100,201,(5))
a

array([116, 136, 148, 113, 142])

### Question 79
Please write a program to randomly generate a list with 5 even numbers between 100 and 200 inclusive.

In [103]:
a = [i for i in (np.random.randint(100,200,(5))) if i%2==0]
a

[154, 146, 176, 128, 140]

In [116]:
s=[]
aa = np.random.randint(100,200,(6))
b = [s.append(i) for i in aa if i%2==0]
print(s)

[182, 120, 106]

In [132]:
print(random.sample([i for i in range(100,201) if i%2==0], 5))

[198, 106, 122, 180, 166]

### Question 80
Please write a program to randomly generate a list with 5 numbers, which are divisible by 5 and 7 , between 1 and 1000 inclusive.

In [129]:
import random
print(random.sample([i for i in range(1,1001) if i%5==0 and i%7==0], 5))

[245, 35, 280, 700, 420]


### Question 81
Please write a program to randomly print a integer number between 7 and 15 inclusive.

In [137]:
print(np.random.randint(7,16))

12

### Question 82
Please write a program to compress and decompress the string "hello world!hello world!hello world!hello world!".

In [138]:
import zlib
s = b'hello world!hello world!hello world!hello world!'
t = zlib.compress(s)
print(t)
print(zlib.decompress(t))

b'x\x9c\xcbH\xcd\xc9\xc9W(\xcf/\xcaIQ\xcc \x82\r\x00\xbd[\x11\xf5'
b'hello world!hello world!hello world!hello world!'

### Question 83
Please write a program to print the running time of execution of "1+1" for 100 times.

In [141]:
import time 
starttime = time.time()
for i in range(1,101):
    print(i)
endtime = time.time()
totaltime = endtime - starttime 
totaltime

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

0.010994911193847656

In [142]:
from timeit import Timer
t = Timer("for i in range(100):1+1")
print(t.timeit())

2.6056423999998515

In [143]:
Timer.__doc__

"Class for timing execution speed of small code snippets.\n\n    The constructor takes a statement to be timed, an additional\n    statement used for setup, and a timer function.  Both statements\n    default to 'pass'; the timer function is platform-dependent (see\n    module doc string).  If 'globals' is specified, the code will be\n    executed within that namespace (as opposed to inside timeit's\n    namespace).\n\n    To measure the execution time of the first statement, use the\n    timeit() method.  The repeat() method is a convenience to call\n    timeit() multiple times and return a list of results.\n\n    The statements may contain newlines, as long as they don't contain\n    multi-line string literals.\n    "

### Question 84
Please write a program to shuffle and print the list [3,6,7,8].

In [149]:
from random import shuffle
li = [3,6,7,8]
shuffle(li)
li

[7, 3, 6, 8]


### Question 85
Please write a program to shuffle and print the list [3,6,7,8].

In [150]:
from random import shuffle
li = [3,6,7,8]
shuffle(li)
li

[6, 7, 8, 3]

### Question 86
Please write a program to generate all sentences where subject is in ["I", "You"] and verb is in ["Play", "Love"] and the object is in ["Hockey","Football"].

In [151]:
subjects=["I", "You"]
verbs=["Play", "Love"]
objects=["Hockey","Football"]
for i in range(len(subjects)):
    for j in range(len(verbs)):
        for k in range(len(objects)):
            sentence = "%s %s %s." % (subjects[i], verbs[j], objects[k])
            print(sentence)

I Play Hockey.
I Play Football.
I Love Hockey.
I Love Football.
You Play Hockey.
You Play Football.
You Love Hockey.
You Love Football.

### Question 87
Please write a program to print the list after removing delete even numbers in [5,6,77,45,22,12,24].

In [163]:
l = [5,6,77,45,22,12,24]
for i in (l):
    if i%2==0:
        l.remove(i)
print(l)

[5, 77, 45, 12]

In [156]:
a = [i for i in l if i%2!=0]
a

[5, 77, 45]


### Question 88
By using list comprehension, please write a program to print the list after removing delete numbers which are divisible by 5 and 7 in [12,24,35,70,88,120,155].

In [164]:
l = [12,24,35,70,88,120,155]
a = [i for i in l if i%5!=0 and i%7!=0]
a

[12, 24, 88]

# Question 89
By using list comprehension, please write a program to print the list after removing the 0th, 2nd, 4th,6th numbers in [12,24,35,70,88,120,155].

In [166]:
a = [n for i, n in enumerate(l) if i%2!=0]
a

[24, 70, 120]

### Question 90
By using list comprehension, please write a program generate a 3*5*8 3D array whose each element is 0.

In [167]:
array = [[ [0 for col in range(8)] for col in range(5)] for row in range(3)]
array

[[[0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0]],
 [[0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0]],
 [[0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0],
  [0, 0, 0, 0, 0, 0, 0, 0]]]

### Question 91
By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [168]:
l

[12, 24, 35, 70, 88, 120, 155]

In [169]:
a = [n for (i,n) in enumerate(l) if i not in(0,4,5)]
a

[24, 35, 70, 155]

### Question 92
By using list comprehension, please write a program to print the list after removing the value 24 in [12,24,35,24,88,120,155].

In [170]:
l

[12, 24, 35, 70, 88, 120, 155]

In [172]:
l.remove(24)

In [173]:
l

[12, 35, 70, 88, 120, 155]

### Question 93
With two given lists [1,3,6,78,35,55] and [12,24,35,24,88,120,155], write a program to make a list whose elements are intersection of the above given lists.

In [179]:
l1 = [1,3,6,78,35,55]
l2 = [12,24,35,24,88,120,155]
a = set(li)
b = set(l2)
a &= b
print(list(a))

[35]

In [177]:
set1=set([1,3,6,78,35,55])
set2=set([12,24,35,24,88,120,155])
set1 &= set2
li=list(set1)
print(li)

[35]

In [180]:
mylist = [5, 3, 5, 2, 1, 6, 6, 4] # the original input list with repeated elements.
dup = {x for x in mylist if mylist.count(x) > 1}
print(dup)

{5, 6}

### Question 94
With a given list [12,24,35,24,88,120,155,88,120,155], write a program to print this list after removing all duplicate values with original order reserved.

In [187]:
li = [12,24,35,24,88,120,155,88,120,155]
new_li=[]
see = set()
for i in li:
    if i not in see:
        see.add(i)
        new_li.append(i)
print(new_li)

[12, 24, 35, 88, 120, 155]


### Question 95
Define a class Person and its two child classes: Male and Female. All classes have a method "getGender" which can print "Male" for Male class and "Female" for Female class.

In [194]:
class Person(object):
    def getGender(self):
        return 'Unknown'
class Male(object):
    def getGender(self):
        return 'Male'
class Female(object):
    def getGender(self):
        return 'Female'

In [195]:
aMale = Male()
aFemale= Female()
print(aMale.getGender())
print(aFemale.getGender())

Male
Female

### Question 96
Please write a program which count and print the numbers of each character in a string input by console.

In [196]:
inp = input()

count = 0
for i in inp:
    count+=1
print(count)

swapnil
7

### Question 97
Please write a program which frequency and print the numbers of each character in a string input by console.

In [199]:
inp = input()

frq = {}

for i in inp:
    if i in frq:
        frq[i]+=1
    else:
        frq[i]=1
print(frq)

swapnil yande data scientist
{'s': 3, 'w': 1, 'a': 4, 'p': 1, 'n': 3, 'i': 3, 'l': 1, ' ': 3, 'y': 1, 'd': 2, 'e': 2, 't': 3, 'c': 1}

### Question 98
Please write a program which accepts a string from console and print it in reverse order.

In [200]:
inp = input()

print(inp[::-1])

swapnil
linpaws

In [202]:
a = 'swapnil'

ab = ' '
for i in a:
    ab = i+ab
print(ab)

linpaws

### Question 99
Please write a program which accepts a string from console and print the characters that have even indexes.

In [203]:
inp = input()

for i,n in enumerate(inp):
    if i%2==0:
        print(n)

swapnil
s
a
n
l

In [204]:
s = input()

s = s[::2]
print(s)

swapnil
sanl

### Question 100
Please write a program which prints all permutations of [1,2,3]

In [205]:
import itertools
li =[1,2,3]
print(list(itertools.permutations(li)))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

### Question 101
Write a program to solve a classic ancient Chinese puzzle: 
We count 35 heads and 94 legs among the chickens and rabbits in a farm. How many rabbits and how many chickens do we have?

In [206]:
def solve(numheads,numlegs):
    ns='No solutions!'
    for i in range(numheads+1):
        j=numheads-i
        if 2*i+4*j==numlegs:
            return i,j
    return ns,ns

In [207]:
numheads=35
numlegs=94
solutions=solve(numheads,numlegs)
print(solutions)

(23, 12)