Take two inputs from the user. One will be an integer. The other will be a float number. Then multiply them to display the output.

In [1]:
inp = int(input())
inp_f = float(input())

a = inp*inp_f
print(a)

3
4.3
12.899999999999999

Take two numbers from the users. Calculate the result of second number power of the first number.

In [2]:
inp = int(input())
a = inp**2
print(a)

5
25

Create a random number between 0 to 10

In [3]:
import numpy as np

In [4]:
a = np.random.randint(0,11, (10))
print(a)

[10 10  3  0  3  3  1  4  0  3]

Find the floor division of two numbers.

In [9]:
a = 5
b = 2
c =a//b
c

2

In [10]:
import math

In [12]:
a = math.floor(5.2)
a

5

Swap two variables.

To swap two variables: the value of the first variable will become the value of the second variable. On the other hand, the value of the second variable will become the value of the first variabl

In [13]:
first = 2
second = 5

first = first+second
second = first-second
first = first-second
print(a,b)

5 2

In [14]:
a= 2
b =5
a,b = b,a
print(a,b)

5 2

In [15]:
a= 2
b =5

temp = a
a = b
b = temp

print(a,b)

5 2

Find the max number of two numbers.

In [16]:
a = 3
b = 6

if a>b:
    print(a)
else:
    print(b)

6

In [17]:
c = max(a,b)
c

6

Find the largest of the three numbers.

In [19]:
n1 = int(input())
n2 = int(input())
n3 = int(input())

if n1>n2:
    print(n1)
elif n1<n3:
    print(n3)
elif n2>n3:
    print(n2)

0
2
9
9

In [20]:
c = max(n1,n2,n3)
c

9

Take numbers from a user and show the average of the numbers the user entered.

In [21]:
n1 = int(input())
n2 = int(input())

avg = (n1+n2)/2
avg

50
44

47.0

To solve this problem.

First, ask the user - How many numbers you want to enter?

Then, run a for-loop. Each time, take input from the user and put it in a list.

Once you get all the numbers, you can send the list to the sum function. The sum function will add all the numbers and give you the total.

Finally, divide the total by the number of elements the user entered.

That’s it, you will get the answer.

Want to try it yourself first? Go to the code editor and try it.

In [32]:
lent = int(input('How many numbers you want to enter?'))
l = []
for i in range(lent):
    element = int(input('enter ellements'))
    l.append(element)
    
total = sum(l)
avg = total/lent
print(avg)

How many numbers you want to enter?7
enter ellements2
enter ellements3
enter ellements4
enter ellements6
enter ellements8
enter ellements8
enter ellements9
5.714285714285714

For a given number, find all the numbers smaller than the number. Numbers should be divisible by 3 and also by 5.

In [42]:
def divisible_5_7(num):
    l = []
    for i in range(num):
        if i%3==0 and i%5==0:
            l.append(str(i))
    print(','.join(l))

In [43]:
divisible_5_7(56)

0,15,30,45

For a given number, find all the numbers smaller than the number. Numbers should be divisible by 3 or also by 5.

In [46]:
def divisible5or7(num):
    l=[]
    for i in range(num):
        if i%3==0 or i%5==0:
            l.append(str(i))
    print(','.join(l))

In [47]:
divisible5or7(56)

0,3,5,6,9,10,12,15,18,20,21,24,25,27,30,33,35,36,39,40,42,45,48,50,51,54,55

For a given list, get the sum of each number in the list

In [50]:
nums = [13,89,65,42,12,11,56]

summation = 0

for i in nums:
    summation = summation+i
print(summation)

288

In [52]:
toatal = sum(nums)
toatal

288

Find the largest element of a list

In [53]:
nums = [41, 69, 23, 45, 19, 8]
a = sorted(nums)
a[-1]

69

In [54]:
max(nums)

69

In [57]:
maxi = nums[0]
for i in nums:
    if i>maxi:
        maxi=i
print(maxi)

69

Take a number as input. Then get the sum of the numbers. If the number is n. Then get

In [58]:
inp = int(input())
summ = 0
for i in range(inp+1):
    sq = (i**2)
    summ = summ + sq
print(summ)

6
91

For a list, find the second largest number in the list.

In [59]:
nums = [41, 69, 23, 45, 19, 8]
macc = nums[0]
for i in nums:
    if i>macc:
        macc=i
print(macc)

69

For a list, find the second smallest element in the list

In [62]:
nums = [41, 69, 23, 45, 19, 8]
a = sorted(nums, reverse=True)
a[1]

45

For a given string, remove all duplicate characters from that string.

In [63]:
inp = input()

res = ''
for ch in inp:
    if ch not in res:
        res +=ch
print(res)

swapnil yande
swapnil yde

Convert miles to kilometers

In [64]:
# 1 mile = 1.609344 kilometers
def miles_to_km(miles):
    k = miles * 1.609334
    return f'{miles} miles = {k} kms'

In [68]:
miles_to_km(52)

'52 miles = 83.685368 kms'

Convert a decimal number to binary number.

In [71]:
def de_to_binary(n):
    bits=[]
    
    while n>0:
        bits.append(n%2)
        n=n//2
    bits.reverse()
    
    binary = ''
    for bit in bits:
        binary += str(bit)
    return binary

In [77]:
de_to_binary(10)

'1010'

Convert a decimal number to binary number using a recursive function.

In [8]:
def bin_dec_recc(n):
    if n>1:
        bin_dec_recc(n//2)
    print(n%2, end='')

In [9]:
bin_dec_recc(10)

1010

You borrowed $5000 for 2 years with 2% interest per year. Calculate the simple interest to know how much you have to pay?

In [12]:
principle= int(input('Enter Principle Amount: '))
interest_rate = float(input('Enter intrest rate: '))
time = float(input('Enter the duration: '))
simple_interest = principle * (interest_rate/100) * time

print('simple interest',simple_interest)

Enter Principle Amount: 5000
Enter intrest rate: 2
Enter the duration: 2
simple interest 200.0

Take money borrowed, interest and duration as input. Then, compute the compound interest rate.

In [14]:
principle= int(input('Enter Principle Amount: '))
interest_rate = float(input('Enter intrest rate: '))
time = float(input('Enter the duration: '))

compound_intrest = principle*(1+interest_rate/100)*time

print('compound intrest',compound_intrest)

Enter Principle Amount: 5000
Enter intrest rate: 2
Enter the duration: 2
compound intrest 10200.0

Calculate grade of five subjects.

In [16]:
sub1 = int(input('Enter the marks of subject 1: '))
sub2 = int(input('Enter the marks of subject 2: '))
sub3 = int(input('Enter the marks of subject 3: '))
sub4 = int(input('Enter the marks of subject 4: '))
sub5 = int(input('Enter the marks of subject 5: '))

avg = (sub1+sub2+sub3+sub4+sub5)/5

if avg >= 90:
    print('Grade A')
elif avg >= 80:
    print('Grade B')
elif avg >= 70:
    print('Grade C')
elif avg >= 60:
    print('Grade D')
else:
    print('Grade F')

Enter the marks of subject 1: 88
Enter the marks of subject 2: 99
Enter the marks of subject 3: 88
Enter the marks of subject 4: 77
Enter the marks of subject 5: 88
Grade B

Compute gravitational force between two objects

In [18]:
G = 6.673*(10**-11)

mass1 = float(input('Enter mass of first object: '))
mass2 = float(input('Enter mass of second object: '))
r = float(input("Distance between the objects: "))

force =(G*mass1*mass2)/(r**2)

print('Gravitational Force = ', force)

Enter mass of first object: 45
Enter mass of second object: 66
Distance between the objects: 330
Gravitational Force =  1.8199090909090907e-12

Take three sides of a triangle. And then calculate the area of the triangle.

In [23]:
import math
a=float(input('Enter distance of side 1 :'))
b=float(input('Enter distance of side 2 :'))
c=float(input('Enter distance of side 3 :'))
s = (side1+side2+side2)/2

area = math.sqrt(s*(s-a)*(s-b)*(s-c))

print('Area of trangle is =',area)

Enter distance of side 1 :5
Enter distance of side 2 :6
Enter distance of side 3 :7
Area of trangle is = 10.562315087138805

For a given number, check whether the number is a prime number or not.

In [73]:
def prime(n):
    if n>1:
        for i in range(2,n):
            if n%i==0:
                print('the number is not prime')
                break
        else:
            print('The number is prime number')
    else:
        print('the number is not prime')

In [76]:
prime(29)

The number is prime number

Ask the user to enter a number. Then find all the primes up to that number.

In [83]:
def is_prime(num):
    for i in range(2,num):
        if (num % i) == 0:
            return False
    return True
 
def all_primes(num):
    primes = []
    for n in range(2,num+1):
        if is_prime(n) is True:
            primes.append(n)
    return primes
 
num = int(input("Enter upper limit: "))
primes = all_primes(num)
print(primes)

Enter upper limit: 100
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

Ask the user to enter a number. Then find all the primes factors for the number.

def get_prime_factors(n):
   factors = []
   divisor = 2
    while n > 2:
       if(n % divisor == 0):
           factors.append(divisor)
           n = n / divisor
       else:
           divisor = divisor + 1
   return factors
 
num = int (input('Enter your number: '))
factors = get_prime_factors(num)
print(factors)

Reverse a string.

If the input is: Hello World.

The output should be: .dlroW olleH

In [1]:
st = 'Hello World!'
print(st[::-1])

!dlroW olleH

In [3]:
a = ''
for i in st:
    a = i+a
print(a)

!dlroW olleH

Reverse the word in a sentence.

For example, if the input string is “Hello young Programmer”, the output will be “Programmer young Hello”

In [4]:
st = 'Hello young Programmer'
a = st.split()
a.reverse()
print(' '.join(a))

Programmer young Hello

Check whether the string is a palindrome.

In [20]:
st = 'madam'
st == st[::-1]

True

With a given integral number n, write a program to calculate the sum of cubes.

In [21]:
def sum_cube(n):
    summ = 0
    for i in range(n+1):
        summ = summ + n**3
    return summ

In [23]:
sum_cube(4)

320